<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title> Comic Book Recommendation System </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/myStyles.css') }}">
  </head>

  <body>
    <h1 id="home_title"> Comic Book Recommendation System </h1>
    <p id="info">  </p>
    <br>
    <form id="form" method="POST" action="/">
        {{ form.hidden_tag() }}
        <p>
            {{ form.issue_name.label }}<br>
            {{ form.issue_name(size=32) }}<br>
            {% for error in form.issue_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <div id="results">
    {% if issue_name %}
        <h2> Search Results for: {{ issue_name }} </h2>
        {% if results is not none and not results.empty %}
            <ol> <!-- THIS IS THE LIST OF RECOMMENDATIONS  -->
            {% for index, row in recommendations.iterrows() %}
                <li><strong>{{ row['name'] }}</strong> <br>
                    {{ row['description'] }} <br>
                    <strong>Volume:</strong> {{ row['volume'] }} &emsp; <strong> Issue No:</strong> {{ row['issue_number'] }} <br>
                    <strong>Character Credits: </strong> {{ row['character_credits'] }} <br>
                    <strong>Team Credits: </strong> {{ row['team_credits'] }} <br>
                    <strong>Location Credits: </strong> {{ row['location_credits'] }} <br>
                    <strong>Person Credits: </strong> {{ row['person_credits'] }}
                </li><br>
            {% endfor %}
            </ol>
        {% else %}
            <p>No results found for: {{ issue_name }} </p>
        {% endif %}
    {% else %}
        <h2> Here are some DC comic issue names that you can use: </h2>
        <ul>
            <li>Robins vs. Zombies: Robin War</li>
            <li>A Death in the Family Chapter 1 and 2</li>
            <li>War for the Books of Magic, Part 1</li>
            <li>The Coming of Atlas, Part 4: Man of Yore, Dog of Tomorrow</li>
            <li>Growing Pains</li>
            <li>The Shadow World</li>
            <li>Funeral for a Friend Part 8: The End</li>
            <li>Whatever Happened to the Warrior of Truth? Part I</li>
        </ul>
    {% endif %}
        </div> <!-- div id="results" -->
    </body>
</html>
























